.header {
    margin-top: 60px;
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', serif;
    color: white;
    -webkit-text-stroke: 1.5px black
    
  }
  
  .headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 50px;
    
  }
  
  .headerTitleLg {
    position: absolute;
    top: 24%;
    font-size: 100px;
  }
  
  .headerImg{
      width: 100%;
      height: 100vh;
      
      object-fit: cover;
  }

  @media screen and (max-width: 425px)
  {
    .headerTitleSm{
      font-size: 40px;
    }
    .headerTitleLg{
      font-size: 60px;
    }
    
  }
  @media screen and (max-width: 325px)
  {
    .headerTitleSm{
      font-size: 35px;
    }
    .headerTitleLg{
      font-size: 55px;
    }
    
  }