.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Merriweather', serif;

  }
  .topListFooter {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    
    align-items: flex-end;
    margin: 0;
    padding: 5;
    list-style: none;
  }
  
  .sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    
    font-size: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }
  
  .sidebarItem > img {
    margin-top: 15px;
  }
  
  .sidebarItem > p {
    padding: 30px;
  }
  
  .sidebarList {
    list-style: none;
    margin-bottom: 30px;
  }
  
  .sidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebarIcon{
      font-size: 16px;
      margin-left: 10px;
      cursor: pointer;
  }
  .topCenterFooter{
    text-align: right;
  }
  .footerItem{
      padding: 5px;
      margin: 5px;
  }
  
  .footerIcon{
    margin-left: 20px;
  }