.about-wrapper{
    min-height: 90vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    flex-direction: row;
}

.about-wrapper h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 1rem;

    margin-top: 5vh;
}
.margin-bottom {
    margin-bottom: 10vh;
}
.about-wrapper h2{
    text-align: center;
    margin-bottom: 2rem;
    
}
.about-wrapper p{
    text-align: left;
    max-width: 30em;
    margin-bottom: 2rem;
}
.about-wrapper a{
    text-decoration: none;
    color: black;
}
.about-wrapper button{
    
    top: 80vh;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.leftAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10vh;
    flex: 1;
}
.rightAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 2;
}

.bgBottom{
    
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: url(../../../src/components/imgs/cat.jpg);
    background-size: cover;
    
}

.blob{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: lightcoral;
    border-radius: 50%;
    z-index: -2;
    transform: translate(+30%,-15%)
}

@media screen and (max-width: 1050px)
{
    .about-wrapper{
        flex-direction: column-reverse;
    }
    .bgBottom
    {
        width: 300px;
        height: 300px;
        margin-top: 10vh;
    }
    .blob
    {
        width: 300px;
        height: 300px;
    }
    .leftAbout{
        margin-left: 0;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    
}
@media screen and (max-width: 550px)
{
    .bgBottom
    {
        width: 180px;
        height: 180px;
        margin-top: 10vh;
    }
    .blob
    {
        width: 180px;
        height: 180px;
    }
    .about-wrapper h1{
        font-size: 2.5rem;
    }
    .about-wrapper h2{
        font-size: 1.5rem;
    }
    .about-wrapper p{
        max-width: 15em;
    }
}